{% load static  %}
<!DOCTYPE html>
<html>
	<head>
		<title>Signup</title>
		<meta charset="utf-8">
    		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
                <meta name="viewport" content="width=device-width, initial-scale=1">

		<!--Bootstrap-->
		<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

        <style>
            .abc {
    background-color: lightgrey;
    width: 300px;
    height: 500px;
    border: 2px solid grey;
    padding: 25px;
    margin: 25px;
}
        </style>
	</head>
    <body>

                 <div class="row">
		 <div class="col-sm-6 col-sm-offset-6" >
             <table><tbody class="abc"><tr><td align="center">


             <h1><p style="font-family:Monotype Corsiva; color:#F50057; font-size:30px;">Instagram</p></h1>
                 <br><br><br>
                 <img src="c.png"class="img-thumbnail"></img>
                 <a href="login.html">log in</a>


</td></tr></tbody></table>

                </div></div>
    </body>
</html>