
{% load static  %}
<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<meta charset="utf-8">
    		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="viewport" content="width=device-width">

		<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static "css/site.css" %}" />
		<style>
body {
    width: 100%;
    height: 100%;

    background-color:#FFC0CB	;
    background-size: 100% 100%;

}
</style>


	</head>
	
	 <body>
		<!--footer starts-->

	        <div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<br><br>
			<table align="center"width="80%"height="100%">
				<tbody bgcolor="#F5F5DC"width="40%"height="50%"border="1px solid grey"><td align="center">
	               
			<h1><p style="font-family:Monotype Corsiva; color:#FF1493; font-size:50px;">Instagram Clone</p></h1>
	                <h1><p style="font-family:Monotype Corsiva; color:#FF1493; font-size:35px;">Login</p></h1>
	      
			<form method="post">
			{% csrf_token %}
				<div>
					<label for="username">Username:</label>
					<input id="username" type="text" name="username" value="">
			        </div>
				<div>
					<label for="password">Password:</label>
					<input id="password" type="Password" name="password" value="">
				</div><br>
					<input type="submit" value="Login" class="btn btn-success">
			</form></td></tbody>
			</table>
		</div>
		</div>
                <nav class="navbar navbar-inverse navbar-fixed-bottom">
			<div class="container-fluid">
				<!--row3-->
				<div class="row">
					<!--Left column-->
					<div class="col-xs-12 col-sm-8">
						<ul class="nav navbar-nav">
							<li><a href="#">ABOUT US</a></li>
							<li><a href="#">SUPPORT</a></li>
							<li><a href="#">BLOG</a></li>
							<li><a href="#">PRESS</a></li>
							<li><a href="#">API</a></li>
							<li><a href="#">JOBS</a></li>
							<li><a href="#">PRIVACY</a></li>
							<li><a href="#">TERMS</a></li>
							<li><a href="#">LANGUAGE</a></li>
						</ul>
					</div>
					<!--./Left column-->	
			
					<!--Right column-->
					<div class="col-xs-12 col-sm-4">
						<p class="navbar-text">
							&copy; 2017 INSTAGRAM
						</p>
					</div>
					<!--./Right column-->
				 </div>
				 <!--./row3-->
		        </div>
		</nav>

     

		<!--Javascript files-->
		<!--Jquery library-->
		<script src={% static "js/jquery-3.2.1.js" %}"></script>
		<!--Bootstrap js Library-->
		<script src="{% static "js/bootstrap.js" %}"></script>
	</body>
</html>

