{% load static %}
<!DOCTYPE html>
<html>
<head>
   <title>Sign-up</title>

		<meta charset="utf-8">
		<meta http-equive"X-UA-Compatible" contents= "IE#edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">
        <!--Bootstrap-->
		<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">


<style>
    h1{
      background-color:pink;
      color:white;
    }
    a:link,a:visited {

			background-color:blue;
			display:inline block;
		        text-decoration:none;
			border-radius:5px;
		        text-align:center;
			padding: 8px 15px;

			color:white;
	               }


</style>
</head>


<body>

<div>
<h1>User Registerd successfully! Try Log in.</h1>
</div><div>
    <a href="login/"target="_blank"><b>LOG IN</b></a><br><br></div>
</body>



<script src = "{% static "js/jquery-3.2.1.js" %}"></script>
		<script scr="{% static "js/bootstrap.js" %}"></script>



</html>
