{% load static  %}
<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<meta charset="utf-8">
    		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="viewport" content="width=device-width">

		<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static "css/site.css" %}" />
		<style>
body {
    width: 100%;
    height: 100%;

    background-color:#FF6347;
    background-size: 100% 100%;

}
</style>


	</head>

	 <body>
		<!--footer starts-->

	        <div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<br><br>
			<table align="center"width="80%"height="100%">
				<tbody bgcolor="#FFE4B5"width="40%"height="50%"border="1px solid grey"><td align="center">

			<h1><p style="font-family:Monotype Corsiva; color:#FF1493; font-size:50px;">Instagram Clone</p></h1>
	                <h3 color="grey"><p style="font-family:Monotype Corsiva; color:#FF1493; font-size:35px;">Welcome...!you are registerd successfully.Plz Log in with user name and password.
</p></h3>


			{% csrf_token %}
				<br>
                    <a href="/login/"class="btn btn-success">Login</a>

			</td></tbody>
			</table>
		</div>
		</div>


</body></html>


